// @@@@@@@@@@@ account  css @@@@@@@@@@@@@@@@@
.account_section {
    background-color: #FCFCFC;
    padding: 50px 0px 120px;
    .account_inner {
        .my_account_menu_tab {
            .user_profice {
                display: flex;
                flex-wrap: wrap;
                .user_avater {
                    margin-right: 15px;
                    .custom-file-upload { 
                        cursor: pointer; 
                    }
                    #file-upload {
                        display: none;
                        visibility: hidden;
                    }
                }
                .user_info {
                    margin-bottom: 40px;
                    .user-name,
                    .user-email {
                        width: 100%;
                        display: inline-block; 
                    }
                    .user-name {
                        font-weight: 600;
                    }
                    .user-email {
                        margin-bottom:4px;
                        font-size: 14px;
                    }
                    .user-logout {
                        background-color: #c0c0c0;
                        padding: 2px 10px;
                        border-radius: 2px;
                        a {
                            color: #fff;
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }
            }
            .myaccount_menu {
                .my_account_tablinks { 
                    background-color: #fff;
                    border: none;
                    box-shadow: 0 0 16px 0 rgba(114, 114, 114, 0.16);
                    padding: 14px 30px;
                    border-radius: 10px;
                    margin: 0px 20px 20px 0px;
                    font-weight: 500;
                    color: #555;
                    border: 1px solid #eaeaea;
                    &.my_account_tab_active {
                        color: #000;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
            .myaccount_content {
                .my_acconut_tabcontent {
                    .profile_summery {
                        margin: 50px 0px 30px;
                        .profile_summey_inner {
                            text-align: center;
                            .profile_summery_card {
                                text-align: center;
                                img {
                                    border: 5px solid rgba(0,0,0,.08);
                                    border-radius: 100%;
                                }
                                a {
                                    color: #5555558a;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-top: 6px;
                                    display: inline-block;
                                }
                            }
                            .profile_summery_status {
                                .profile_summery_status_list {
                                    ul {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        border: 1px solid #e2e7ed; 
                                        padding: 20px 0px;
                                        margin-top: 25px;
                                        border-radius: 5px;
                                        li {
                                            border-right: 1px solid #e2e7ed;
                                            padding: 0px 14px;
                                            &:last-child {
                                                border-right: 0;
                                            }
                                            h5 {
                                                font-weight: 700;
                                                color: #000;
                                                font-size: 25px;
                                            }
                                            span {
                                                color: #5555558a;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .purchase_course {
                        .purchase_inner {
                            .purchase_title {
                                display: flex ;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 40px;
                                .purchase_left {
                                    h2 {
                                        font-size: 25px;
                                        font-weight: 700;
                                    }
                                }
                                .purchase_right {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    .search_icon {
                                        i {
                                            font-weight: 700;
                                            font-size: 20px;
                                            color: #000;
                                            cursor: pointer;
                                        }
                                    }
                                    .Collapse_btn,
                                    .expand_btn {
                                        background: $theme-color;
                                        color: #fff;
                                        padding: 15px 30px;
                                        border: none;
                                        border-radius: 50px;
                                        margin-left: 20px;
                                        font-weight: 600;
                                        img {
                                            margin-left: 10px;
                                            margin-top: -4px;
                                        }
                                    }
                                    .expand_btn {
                                        
                                    }
                                    .Collapse_btn {
                                        display: none;
                                    }
                                }
                            }
                            .search_box {
                                background: #e2e7ed;
                                padding: 30px;
                                border-radius: 10px; 
                                display: none; 
                                &.toggleSearch {
                                    display: block;
                                    margin-bottom: 30px; 
                                }
                                .search_box_title {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .search_box_title_left {
                                        h3 {
                                            font-size: 25px;
                                            font-weight: 700;
                                        }
                                    }
                                    .search_box_right {
                                        .close_btn {
                                            background: none;
                                            font-size: 15px;
                                            font-weight: 500;
                                            border: 1px solid #fff;
                                            padding: 7px 12px;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                                .form_group {
                                    label {
                                        width: 100%;
                                        color: #333;
                                        margin-bottom: 7px;
                                    }
                                    input {
                                        width: calc(100% - 135px);
                                        padding: 13px;
                                        border: none;
                                        outline: none;
                                        border-radius: 8px;
                                        margin-right: 20px;
                                    }
                                    .search_btn {
                                        font-size: 14px;
                                        font-weight: 500;
                                        border-radius: 50px;
                                        padding: 15px 32px;
                                        background: $theme-color;
                                        color: #fff;
                                        border: none;
                                    }
                                }
                            }
                        }
                        .course_purchase_list {
                            .course_purchase_list_item {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border: 2px solid #cdcdcd;
                                padding: 20px;
                                border-radius: 10px;
                                margin-bottom: 30px;
                                .course_purchase_item_left {
                                    p {
                                        color: #33333396;
                                        font-weight: 600;
                                        font-size: 18px;
                                    }
                                }
                                .course_purchase_item_right {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        background-color: $theme-color; 
                                        color: #fff;
                                        padding: 4px 17px;
                                        margin-right: 15px;
                                        border-radius: 30px;
                                        font-weight: 600;
                                        font-size: 13px;
                                    }
                                    .arrow_image {
                                        width: 25px;
                                        height: 25px;
                                        background-color: #F20F10;
                                        text-align: center;
                                        line-height: 25px;
                                        border-radius: 100%;
                                        display: block;
                                        img {

                                        }
                                    }
                                }
                            }
                        }
                    }
                    .alert_not_found {
                        background-color: #FFF6CD;
                        padding: 25px;
                        border-radius: 10px;
                        border: 2px solid #FFD200;
                        display: flex;
                        align-items: center;
                        .alert_icon {
                            width: 35px;
                            height: 35px;
                            background-color: #FFD200;
                            display: inline-block;
                            text-align: center;
                            line-height: 36px;
                            border-radius: 100%;
                            font-size: 28px;
                            margin-right: 15px;
                        }
                        .alert_text {
                            font-size: 17px;
                            color: #333;
                        }
                    }
                    .user_dashboard {
                        margin-top: 40px;
                        .user_dashboard_sidebar {
                            .user_dashboard_sidebar_menu {
                                display: flex;
                                flex-direction: column;
                                border-right: 1px solid rgba(0, 0, 0, 0.1);;
                                .user_dashboard_tablinks {
                                    text-align: start;  
                                    padding: 16px;
                                    border: none;
                                    background: transparent;
                                    margin-bottom: 2px;
                                    @include transition($transition);
                                    border-left: 4px solid transparent;
                                    &.user_dashboard_tab_active {
                                        background: rgba(0, 0, 0, 0.1);
                                    }
                                    i {
                                        margin-right: 8px;
                                    }
                                    span {
                                        width: 100%;
                                        display: inline-block;
                                        @include transition($transition);
                                        color: #555555;
                                    }
                                    &:hover {
                                        background: #EFEFEF; 
                                        border-left: 4px solid rgb(6, 46, 146);
                                        
                                        span {
                                            transform: translateX(20px);
                                            width: 100%;
                                        }

                                    }
                                }
                            }
                        }
                        .user_dashboard_content {
                            .db_user_details_section {
                                padding-left: 20px;
                                .db_user_card {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 40px;
                                    .db_user_avater {
                                        margin-right: 30px;
                                        img {
                                            width: 150px;
                                            height: auto;
                                        }
                                    }
                                    .db_user_submission {
                                        h2 {
                                            font-weight: 700;
                                            text-transform: capitalize;
                                            margin: 0;
                                            span {
                                                color: rgb(6, 46, 146);
                                            }
                                        }
                                        h6 {
                                            color: #555;
                                            margin: 0;
                                        }
                                    }
                                }
                                .db_user_info_table {
                                    .db_user_info_table_item {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 15px;
                                        .db_user_table_label {
                                            width: 260px;
                                            span {
                                                font-weight: 700;
                                            }
                                        }
                                        .db_user_table_value {
                                            span {
                                                color: #555;
                                            }
                                        }
                                    }

                                }
                            }
                            .db_user_registration {
                                .db_user_registeration_inner {
                                    text-align: center;
                                    margin-top: 20px;
                                    img {}
                                    h3 {
                                        font-size: $fs-h3;
                                        font-weight: 700;
                                        margin: 30px 0px 20px;
                                    }
                                    p {
                                        color: #555;
                                    }
                                    .db_user_registration_list {
                                        .db_user_registration_list_item {
                                            display: flex;
                                            align-self: center;
                                            justify-content: space-between;
                                            padding: 15px 23px;
                                            border-left: 1px solid #ddd;
                                            border-bottom: 1px solid #ddd;
                                            border-right: 1px solid #ddd;
                                            @include transition($transition);
                                            &.form_title {
                                                background-color: #E1E1E1;
                                                 
                                            }
                                            &:hover {
                                                background-color: #EFEFEF;
                                            }
                                            .reg_list_no {
                                                font-weight: 500;
                                                width: 40px;
                                            }
                                            .reg_list_form {
                                                a {
                                                    color: #062E92;
                                                    font-weight: 500;
                                                } 
                                                span {
                                                    font-weight: 500;
                                                }
                                            }
                                            .reg_list_date {
                                                font-weight: 500;
                                                width: 100px;
                                            }
                                        }
                                    }
                                }
                            }
                            .db_reset_password {
                                
                            }
                        }
                    }
                }
                .pint_update_section {
                    margin-top: 40px;
                    .submit_button {
                        text-align: center;
                        margin-top: 20px;
                    }
                }
                .order_section {
                    margin-top: 40px;
                    .order_not_fount {
                        
                    }
                    .order_table {
                        .order_table_item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-align: center;
                            border-bottom: 1px solid #ddd;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            &.order_table_item_title {
                                background-color: #F7F7F7;
                                border-top: 1px solid #ddd;
                                span {
                                    font-weight: 700;
                                    color: #555;
                                }
                            }
                            .order_table_item_order,
                            .order_table_item_date,
                            .order_table_item_status, 
                            .order_table_item_total, 
                            .order_table_item_action {
                                width: calc(100% / 5);
                                padding: 15px;
                            } 
                            .order_table_item_order,
                            .order_table_item_date,
                            .order_table_item_date,
                            .order_table_item_status, 
                            .order_table_item_total {
                                border-right: 1px solid #ddd;
                            }  
                            .order_table_item_order {
                                color: #361888;
                                font-weight: 600;
                            }
                            .order_table_item_action {
                                a {
                                    background-color: #0EB582;
                                    padding: 10px 22px;
                                    color: #fff;
                                    font-weight: 600;
                                    border-radius: 30px;
                                    font-size: 14px;
                                }
                            }                      
                        }
                    }
                }
                .order_details_section {
                    margin-top: 40px;
                    .order_details_para {
                        margin-bottom: 20px;
                        p {
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                    .order_details_table {
                        h2 {
                            font-size: 30px;
                            font-weight: 700;
                            margin-bottom: 12px;
                        }
                        .order_details_table_item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;
                            border-bottom: 1px solid #ddd;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            &.order_details_title {
                                border-top: 1px solid #ddd;
                                background-color: #F7F7F7;
                            }
                            .order_details_table_title {
                                font-weight: 700;
                            }
                            .order_details_table_left {
                                width: calc(100% - 150px);
                                border-right: 1px solid #ddd;
                                padding: 15px;
                                .product_name {
                                    color: #361888;
                                    font-weight: 500;
                                }
                            }
                            .order_details_table_right {
                                width: 150px;
                            }
                        }
                    }
                    .order_again {
                        .order_again_btn {
                            background: #0EB582;
                            color: #fff;
                            font-weight: 700;
                            border: none;
                            padding: 14px 30px;
                            border-radius: 35px;
                            margin-top: 20px;
                        }
                    }
                    .billing_address {
                        margin-top: 30px;
                        .billing_address_title h2 {
                            font-size: 30px;
                            font-weight: 700;
                            margin: 0;
                        }
                        .billing_address_item {
                            border: 1px solid #ddd;
                            padding: 20px;
                            border-radius: 10px;
                            i {
                                color: #33333370;
                                margin-right: 10px;
                            }
                        }
                        .billing_address {
                            margin-top: 30px;
                        }
                        .billing_phone {
                            margin: 7px 0px;
                            display: inline-block;
                        }
                    }  
                }
            }
        }
    }
}

