// @@@@@@@ Course details @@@@@@@@@@@
.course_details {
    background-color: #f0f0f061;
    padding: 120px 0px;
    .course_details_inner {
        .course_details_wrapper {
            background-color: $white-color;
            box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.02);
            .post_thumbnail {
            }
            .course_content {  
                padding: 30px;
                @include breakpoint(max-mobile) {
                    padding: 18px;
                }
                .course-info {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    background-color: #f9fbfd;
                    padding: 40px 10px;
                    border-radius: 3px;
                    justify-content: space-around;
                    text-align: center;
                    position: relative;
                    margin: 30px;
                    @include breakpoint(max-xl) {
                        padding: 44px 6px; 
                        margin: 0; 
                    }
                    @include breakpoint(max-md) {
                        flex-direction: column;
                    }
                    .course_info_item {
                        border-right: 1px solid #e7e8e9;
                        padding-right: 50px;
                        @include breakpoint(max-xl) {
                            padding-right: 30px;
                        }
                        @include breakpoint(max-md) {
                            border-right: 0px;
                            border-bottom: 1px solid #e7e8e9;
                            padding-right: 0;
                            padding: 30px 0px
                            
                        }
                        &:last-child {
                            border-right: none;
                            padding-right: 0px;
                            border-bottom: 0px;
                        }
                        .tooltip_box {
                            .custom_tooltip {
                                position: absolute;
                                top: 30px; 
                                opacity: 0;
                                visibility: hidden;
                                @include transition($transition);
                                .en_tooltip {
                                    position: relative;
                                    span {
                                        background: $theme-color;
                                        padding: 4px 10px;
                                        border-radius: 5px;
                                        color: #fff !important;
                                        font-size: 14px !important;
                                    }
                                    &::after {
                                        position: absolute;
                                        background: $theme-color;
                                        width: 10px;
                                        height: 10px;
                                        content: "";
                                        left: 6px;
                                        bottom: 6px;
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                            
                            .enroll_btn {
                                padding: 12px 30px 12px 25px;
                                font-size: 16px;
                                font-weight: 500;
                                border-radius: 50px; 
                                background: rgba(0, 0, 0, .05);
                                a {
                                    color: #555; 
                                    text-transform: capitalize;
                                    letter-spacing: 0px;
                                    cursor: n-resize;
                                }  
                                
                            }
                            &:hover {  
                                .custom_tooltip { 
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                       
                        &.price {
                            line-height: 0px;
                            margin-top: 18px;
                        }
                        .join_btn { 
                            a {  
                                padding: 10px 30px;
                                color: $white-color; 
                                background: $theme-color;
                                border-radius: 26px;
                                display: inline-block;
                            }
                        }
                        span {
                            color: #273c66;
                            font-size: 16px;
                            margin-bottom: 10px; 
                            font-weight: 700;
                            display: inline-block;
                        }
                        h2 {
                            color: #273c66;
                            font-weight: 500;
                            font-size: 32px;
                            margin: 0;
                        }
                    }
                }
                .course_tab {
                    margin-top: 80px;
                    .tab { 
                        position: relative;
                        @include breakpoint(max-sm-mobile) {
                            display: flex;
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 10px;
                            background-color: #ddd;
                            bottom: -6px;
                            left: 0px;
                            border-radius: 6px;
                        }
                        .tablinks {
                            border: none;
                            background: none;
                            padding-bottom: 25px;
                            margin-right: 100px;
                            position: relative;
                            font-weight: 700;
                            font-size: 20px;
                            color: #8f8f8f;
                            @include breakpoint(max-sm) {
                                margin-right: 30px;
                            }
                            img {
                                width: 30px;
                                height: auto;
                            }
                            &.tab_active::after {
                                position: absolute;
                                content: "";
                                width: 150px;
                                height: 10px;
                                background-color: $theme-color;
                                bottom: -6px;
                                left: 0px;
                                border-radius: 6px;
                                z-index: 999 !important;
                            } 
                        }
                    }
                    .tab_content {
                        margin-top: 60px;
                        .tabcontent {
                            p {
                                font-size: 20px;
                                font-weight: 400;
                                color: #555;
                            }
                            p:first-child {
                                margin-bottom: 20px;
                            }
                        }
                        .course_content_list {
                            // position: relative;
                            ul { 
                                li {
                                    font-weight: 700;
                                    color: #000;
                                    margin-top: 40px;
                                    list-style: disc;
                                    font-size: 20px;
                                    margin-left: 50px;
                                    @include breakpoint(max-sm) {
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .course_module {
                        margin: 30px;
                        @include breakpoint(max-sm) {
                            margin: 30px 0px;
                        }
                        h2 {
                            font-size: 40px;
                            font-weight: 700;
                            color: #555;
                            margin:60px 0px 30px;
                            @include breakpoint(max-mobile) {
                                font-size: 30px;
                            }
                        }
                        .course_tooltip_box {
                            position: relative;
                            margin-bottom: 20px;
                            .course_custom_tooltip {
                                position: absolute;
                                top: 0px;
                                left: 30px;
                                opacity: 0;
                                visibility: hidden;
                                @include transition($transition);
                                .course_en_tooltip {
                                    position: relative;
                                    span {
                                        background: $theme-color;  
                                        padding: 10px 20px;
                                        border-radius: 5px;
                                        color: #fff !important;
                                        font-size: 17px !important;
                                    }
                                    &::after {
                                        position: absolute;
                                        background: $theme-color;
                                        width: 10px;
                                        height: 10px;
                                        content: "";
                                        left: 6px;
                                        transform: rotate(45deg);
                                        top: 24px;                                    
                                    }
                                }
                            }
                            
                            .course_module_list {
                                .course_modul_item {
                                    padding: 15px 30px 15px 25px;
                                    font-size: 20px;
                                    font-weight: 500;
                                    border-radius: 5px;
                                    border: 2px solid #ddd;
                                    @include breakpoint(max-mobile) {
                                        padding: 15px 12px 15px 10px;
                                        font-size: 15px;
                                    }
                                    img {
                                        margin-right: 8px;
                                    }
                                    a {
                                        color: #555; 
                                        text-transform: capitalize;
                                        letter-spacing: 0px;
                                        cursor: n-resize;
                                    }  
                                }
                               
                                
                            }
                            &:hover {  
                                .course_custom_tooltip { 
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .prev_post {
            margin-top: 70px;
            h2 {
                font-size: 30px;
                color: #333;
                font-weight: 700;  
                margin-bottom: 30px;
            }
            .prev_post_item {
                border: 1px solid #eeeeee;
                padding: 30px;
                @include breakpoint(max-lg) {
                    margin-bottom: 40px;
                }
                .prev_course_title {
                    font-size: 20px;
                    color: #333;
                    font-weight: 700;
                    width: 400px;
                    display: inline-block;
                    @include transition($transition);
                    &:hover {
                        color: $hover-color;
                    }
                    @include breakpoint(max-mobile) {
                        font-size: 16px; 
                        width: 225px;
                    }
                }
              .prev_link {
                color: #666;
                font-size: 18px;
                margin-top: 10px;
                display: inline-block;
                @include transition($transition);
                &:hover {
                    color: $hover-color;
                }
                i {
                    margin-right: 10px;
                }
              } 
            }
        }
        .sidebar {
            .sidebar_menu {
                margin-bottom: 40px;
                border: 1px solid #eeeeee;
                padding: 40px;
                .sidebar_menu_title {
                    h2 {
                        color: #333;
                        font-size: 25px;
                        position: relative;
                        margin-bottom: 20px;
                        &::after {
                            position: absolute;
                            content: "";
                            width: 60px;
                            height: 3px;
                            background-color: #333;
                            bottom: 1px;
                            left: 0;
                            @include breakpoint(max-sm) {
                                bottom: -10px;
                            }
                        }
                    }
                }
                .sidebar_menu_list {
                    ul {
                        li {
                            border-bottom: 1px dashed #eeeeee;
                            padding: 15px 0px;
                            &:last-child {
                                border-bottom: none;
                            }
                            a { 
                                color: #555;
                                font-size: 20px;
                                width: 100%;
                                display: inline-block;
                                @include transition($transition);
                            }
                            &:hover {
                                a {
                                    color: $hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}