/* =========== Footer Section Start Here  ========= */
.footer_section {
    background-color: transparent;
    background-image: linear-gradient(230deg, #004FE1 0%, #3478F6 100%);
    .overlay {
        background-image: url('../../assets/images/footer/footer_bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .footer_top {
        padding: 75px 0px 50px;
        border-bottom: 1px solid #dddddd40;
        .footer_area {
            .footer_social_list {
                margin-top: 50px;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        a {
                            width: 40px;
                            height: 40px;
                            border-style: solid;
                            border-width: 2px 2px 2px 2px;
                            border-color: rgba(255, 255, 255, 0.2);
                            border-radius: 50%;
                            text-align: center;
                            line-height: 38px;
                            font-size: 15px;
                            margin-right: 18px;
                            display: block; 
                            @include transition($transition);
                            color: #fff; 
                        }
                        &:hover {
                            &:nth-child(1) {
                                a {
                                    background-color: $facebook;
                                    @include transform(rotate(360deg));
                                }
                           
                            }
                            &:nth-child(2) {
                                a {
                                    background-color: $twitter;
                                    @include transform(rotate(360deg));
                                }
                           
                            }
                            &:nth-child(3) {
                                a {
                                    background-color: $linkedin;
                                    @include transform(rotate(360deg));
                                }
                            }
                        }
                    }
                }
            }
            .footer_title {
                h4 {
                    color: $white-color;
                    margin: 0px 0px 5px 0px;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 24px;
                    margin-bottom: 30px;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 30px;
                        width: 18px;
                        height: 3px;
                        background: #F5B016;
                    }
                }
                .footer_content {
                    p {
                        color: $white-color;
                        font-weight: 600;
                        font-family: var($roboto);
                    }
                }
            }
        }
    }
    .footer_bottom { 
        padding: 45px 35px 35px; 
        .footer_logo {
            img {
                width: 160px;
                height: auto;
            }
        }
        .copyright_text {
            p {
                color: $white-color;
                font-weight: 600;
                font-family: var($roboto);
            }
        }
        .f_bottom_link {
            ul {
                display: flex;
                align-items: center;
                li {
                    &:nth-child(1) {
                        margin-right: 35px;
                    }
                    a {
                        color: $white-color;
                        font-weight: 600;
                        font-family: var($roboto);  
                    }
                }
            }
        }
    }
}

// For scroll top button
.scrollToTop { 
    i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        color: $white-color;
        @include transition($transition);
        background: #F5B016;
        text-align: center;
    }
}
 