/* =========== Footer Section Start Here  ========= */
.footer_section {
    background-image: url('../../assets/images/footer-bg.png');
    background-size: cover;
    background-position: center;
    .footer_top {
        padding: 60px 0px 40px 0px;
        border-bottom: 1px solid #dddddd40;
        .footer_area {
            .footer_social_list {
                margin-top: 50px;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        a {
                            width: 40px;
                            height: 40px;
                            border-style: solid;
                            border-width: 2px 2px 2px 2px;
                            border-color: rgba(255, 255, 255, 0.2);
                            border-radius: 50%;
                            text-align: center;
                            line-height: 38px;
                            font-size: 15px;
                            margin-right: 18px;
                            display: block; 
                            @include transition($transition);
                            color: #fff; 
                        }
                        &:hover {
                            &:nth-child(1) {
                                a {
                                    background-color: $facebook;
                                    @include transform(rotate(360deg));
                                }
                           
                            }
                            &:nth-child(2) {
                                a {
                                    background-color: $twitter;
                                    @include transform(rotate(360deg));
                                }
                           
                            }
                            &:nth-child(3) {
                                a {
                                    background-color: $linkedin;
                                    @include transform(rotate(360deg));
                                }
                            }
                        }
                    }
                }
            }
            .footer_title {
                @include breakpoint(max-lg) {
                    margin-bottom: 30px;
                }
                h4 {
                    color: $white-color;
                    margin: 0px 0px 5px 0px;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 24px;
                    margin-bottom: 30px;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 30px;
                        width: 18px;
                        height: 3px;
                        background: #F5B016;
                    }
                }
                .footer_content {
                    p {
                        color: $white-color;
                        font-weight: 600;
                        font-family: var($roboto);
                    }
                }
            }
        }
    }
    .footer_bottom { 
        padding: 45px 35px 35px; 
        @include breakpoint(max-lg) {
            padding: 45px 0px 35px;
            text-align: center;
        }
        .footer_logo {
            img {
                width: 160px;
                height: auto;
            }
        }
        .copyright_text {
            @include breakpoint(max-lg) {
                margin: 15px 0px;
            }
            p {
                color: $white-color;
                font-weight: 600;
                font-family: var($roboto);
            }
        }
        .f_bottom_link {
            ul {
                display: flex;
                align-items: center;
                @include breakpoint(max-lg) {
                    justify-content: center;
                }
                li {
                    &:nth-child(1) {
                        margin-right: 35px;
                    }
                    a {
                        color: $white-color;
                        font-weight: 600;
                        font-family: var($roboto);  
                    }
                }
            }
        }
    }
}

// For scroll top button
.scrollToTop { 
    @include breakpoint(max-lg) {
        position: fixed;
        right: 4%;
        bottom: 60px !important;
        content: "";
    }
    i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        color: $white-color;
        @include transition($transition);
        background: #F5B016;
        text-align: center;
    }
}
 