* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	outline: none; 
	box-shadow: none;
	font-family: $roboto;
}

h1 {font-size: $fs-h1;}
h2 {font-size: $fs-h2;}
h3 {font-size: $fs-h3;}
h4 {font-size: $fs-h4;}
h5 {font-size: $fs-h5;}
h6 {font-size: $fs-h6;}


@include breakpoint(sm) {
	h1 {font-size: $fs-h1;line-height: $lh-h1;}
	
	h2{font-size: $fs-h2;line-height: $lh-h2;}
	
	h3 {font-size: $fs-h3;line-height: $lh-h3;}
	
	h4 {font-size:$fs-h4;line-height: $lh-h4;}
	
	h5 {font-size: $fs-h5;line-height: $lh-h5;}
	
	h6 {font-size: $fs-h6;line-height: $lh-h6;}
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}

// input 
.form-group {
	margin-bottom: 20px;
	label, input {
		width: 100%;
	}
	label { 
		margin-bottom: 6px;
		font-size: 15px;
		font-weight: 500
	}
	.input_area {
		position: relative;
		input {
			padding: 10px 20px;
			border: 1px solid #ded7d7;
			outline: none;
		}
		.view_icon {
			position: absolute; 
			top: 50%;
			right: 20px;
			transform: translateY(-11px);
			cursor: pointer;
			i {
				color: #555;
			}
		}
	}
	
	.require_star {
		color: $theme-color;
		font-size: 17px;
		padding-left: 2px;
	}
}

.submit_btn {
	background: $theme-color;
	color: $white-color;
	border: none;
	padding: 13px 20px;
	border-radius: 5px;
	@include transition($transition);
	&:hover {
		background-color: #000;
	}
}

.comment_title {
	font-size: 36px;
	font-weight: 700;
	@include breakpoint(max-sm) {
		font-size: 24px;
	}
}

// select 2
span.select2.select2-container {
    width: 100% !important;
}
span.select2-selection {
    height: 50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444444fc;
    line-height: 49px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 13px;
    right: 8px;
    width: 20px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 17px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ded7d7;
    border-radius: 3px;
}

// coupon btn
.coupun_btn {
	background-color: $button_color;
    color: #fff;
    font-weight: 600;
    padding: 12px 37px;
    border: none;
    outline: none;
    border-radius: 30px;
	font-size: 15px;
	@include transition($transition);
	&:hover {
		background-color: #000;
	}
	@include breakpoint(max-sm){
		display: inline-block !important;
		width: 100% !important;
	}
}

// payment method button
.add_payment_btn {
	background-color: $button-color; 
	padding: 12px 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	display: inline-block;
	font-size: 15px;
	margin-top: 30px;
	border: none;
	outline: none;
	@include transition($transition);
	&:hover {
		background-color: #000;
		color: #fff;
	}
}
.strip_payment {
	background-color: #062E92;
}

// cart icon
.cart_icon {
	position: relative;
	margin: 0px 25px 0px ;
	a {
		color: #555;
	}
	span {
		position: absolute;
		top: -9px;
		left: 7px;
		background: #0E13A8;
		width: 15px;
		height: 15px;
		color: #fff;
		border-radius: 100%;
		display: inline;
		font-size: 10px;
		text-align: center;
	}
}

.quiz_btn {
	background-color: $theme-color;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	@include transition($transition);
	a {
		color: #fff;
		font-weight: 500;
		padding: 12px 20px;
	}
	&:hover {
		background-color: #000;
	}
}