* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	outline: none; 
	box-shadow: none;
	font-family: $roboto;
}

h1 {font-size: $fs-h1;}
h2 {font-size: $fs-h2;}
h3 {font-size: $fs-h3;}
h4 {font-size: $fs-h4;}
h5 {font-size: $fs-h5;}
h6 {font-size: $fs-h6;}


@include breakpoint(sm) {
	h1 {font-size: $fs-h1;line-height: $lh-h1;}
	
	h2{font-size: $fs-h2;line-height: $lh-h2;}
	
	h3 {font-size: $fs-h3;line-height: $lh-h3;}
	
	h4 {font-size:$fs-h4;line-height: $lh-h4;}
	
	h5 {font-size: $fs-h5;line-height: $lh-h5;}
	
	h6 {font-size: $fs-h6;line-height: $lh-h6;}
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}

// input 
.form-group {
	margin-bottom: 20px;
	label, input {
		width: 100%;
	}
	label { 
		margin-bottom: 6px;
		font-size: 15px;
		font-weight: 500
	}
	.input_area {
		position: relative;
		input {
			padding: 10px 20px;
			border: 1px solid #ded7d7;
			outline: none;
		}
		.view_icon {
			position: absolute; 
			top: 50%;
			right: 20px;
			transform: translateY(-11px);
			cursor: pointer;
			i {
				color: #555;
			}
		}
	}
	
	.require_star {
		color: $theme-color;
		font-size: 17px;
		padding-left: 2px;
	}
}