* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 72px;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    line-height: 60px;
  }
  h3 {
    font-size: 36px;
    line-height: 45px;
  }
  h4 {
    font-size: 30px;
    line-height: 40px;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
  }
  h6 {
    font-size: 16px;
    line-height: 34px;
  }
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.header_section {
  background-color: #FCFCFC;
  padding: 0px;
}
@media (max-width: 991px) {
  .header_section {
    display: none;
  }
}
.header_section.sticky-menu {
  background-color: #FCFCFC;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999999999 !important;
}
.header_section .header_inner .logo img {
  width: 150px;
  height: auto;
}
.header_section .header_inner .primary_menu {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) {
  position: relative;
  margin: 10px 20px;
}
@media (max-width: 1199px) {
  .header_section .header_inner .primary_menu ul li:not(.sub_menu li) {
    margin: 10px 11px;
  }
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li)::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: #3478F6;
  width: 100%;
  height: 2px;
  transform: translateY(0px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) a {
  color: #333333;
  text-decoration: none;
  padding: 42px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) a i.fa-solid.fa-chevron-down {
  padding-left: 5px;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li):hover::after {
  transform: translateY(28px);
  opacity: 1;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li):hover .sub_menu ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul {
  position: absolute;
  width: 290px;
  background: #fff;
  top: 54px;
  left: 0;
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  border-radius: 3px;
  box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li {
  border-bottom: 1px solid #f8fafe;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 17px 20px;
  height: 100%;
  color: #333333;
  font-weight: 400;
  text-transform: capitalize;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li:hover a {
  color: #3478F6;
}
.header_section .header_inner .header_btn {
  display: flex;
  align-items: center;
}
.header_section .header_inner .header_btn .cart_icon {
  position: relative;
  margin: 0px 25px 0px;
}
.header_section .header_inner .header_btn .cart_icon span {
  position: absolute;
  top: -9px;
  left: 7px;
  background: #0E13A8;
  width: 15px;
  height: 15px;
  color: #fff;
  border-radius: 100%;
  display: inline;
  font-size: 10px;
  text-align: center;
}
.header_section .header_inner .header_btn .search-btn {
  position: relative;
}
.header_section .header_inner .header_btn .search-btn > input {
  padding: 12px 14px 12px 40px;
  background: #F1F2F3;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  max-width: 200px;
}
@media (max-width: 1199px) {
  .header_section .header_inner .header_btn .search-btn > input {
    max-width: 180px;
  }
}
.header_section .header_inner .header_btn .search-btn > input:focus {
  border: 2px solid #0E13A8;
}
.header_section .header_inner .header_btn .search-btn .search_icon {
  position: absolute;
  top: 28%;
  left: 6%;
}
.header_section .header_inner .header_btn a {
  font-size: 13px;
  padding: 13px 60px 13px 60px;
  background-color: #F20F10;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
  color: #fff;
}
@media (max-width: 1199px) {
  .header_section .header_inner .header_btn a {
    padding: 13px 30px 13px 30px;
  }
}
.header_section .header_inner .header_btn a i {
  margin-right: 5px;
}

.mobile_menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999;
}
@media (min-width: 992px) {
  .mobile_menu {
    display: none;
  }
}
.mobile_menu .mobile_menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F20F10;
  padding: 18px 40px;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_left .mobile_logo img {
  width: 130px;
  height: auto;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right span i {
  font-size: 30px;
  color: #fff;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right span i.fa-solid.fa-xmark {
  display: none;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right.close span i.fa-solid.fa-bars-staggered {
  display: none;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right.close span i.fa-solid.fa-xmark {
  display: block;
}
.mobile_menu .mobile_menu_bottom {
  position: fixed;
  left: 0;
  z-index: 999999999;
  background: #f8fafe;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  height: 100%;
  overflow-y: scroll;
  padding: 0 20px;
  padding-bottom: 60px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile_menu .mobile_menu_bottom.open {
  transform: scaleY(1);
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu {
  background-color: #f8fafe;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul {
  padding-top: 20px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li {
  list-style: none;
  border-bottom: 1px solid rgba(212, 47, 83, 0.1215686275);
  padding: 18px 0px;
  margin: 0px 25px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li:last-child {
  border-bottom: none;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown {
  position: relative;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown > a::after {
  top: 16px;
  right: 0;
  font-weight: 700;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown.open > a::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #F20F10;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #181818;
  text-decoration: none;
  display: block;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul {
  display: none;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul li:last-child {
  padding-bottom: 0px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul li > a {
  font-size: 16px;
}
.mobile_menu .mobile_menu_bottom .mobile_menu_btn {
  text-align: center;
  margin-top: 30px;
}
.mobile_menu .mobile_menu_bottom .mobile_menu_btn a {
  font-size: 18px;
  padding: 16px 24px;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #F20F10;
}

/* =========== Footer Section Start Here  ========= */
.footer_section {
  background-color: transparent;
  background-image: linear-gradient(230deg, #004FE1 0%, #3478F6 100%);
}
.footer_section .overlay {
  background-image: url("../../assets/images/footer/footer_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.footer_section .footer_top {
  padding: 75px 0px 50px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.2509803922);
}
.footer_section .footer_top .footer_area .footer_social_list {
  margin-top: 50px;
}
.footer_section .footer_top .footer_area .footer_social_list ul {
  display: flex;
  align-items: center;
}
.footer_section .footer_top .footer_area .footer_social_list ul li a {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  margin-right: 18px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(1) a {
  background-color: #3b5998;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(2) a {
  background-color: #55acee;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(3) a {
  background-color: #007bb5;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_section .footer_top .footer_area .footer_title h4 {
  color: #fff;
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 30px;
  position: relative;
}
.footer_section .footer_top .footer_area .footer_title h4::after {
  position: absolute;
  content: "";
  left: 0;
  top: 30px;
  width: 18px;
  height: 3px;
  background: #F5B016;
}
.footer_section .footer_top .footer_area .footer_title .footer_content p {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}
.footer_section .footer_bottom {
  padding: 45px 35px 35px;
}
.footer_section .footer_bottom .footer_logo img {
  width: 160px;
  height: auto;
}
.footer_section .footer_bottom .copyright_text p {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}
.footer_section .footer_bottom .f_bottom_link ul {
  display: flex;
  align-items: center;
}
.footer_section .footer_bottom .f_bottom_link ul li:nth-child(1) {
  margin-right: 35px;
}
.footer_section .footer_bottom .f_bottom_link ul li a {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}

.scrollToTop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #F5B016;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
