* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 72px;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    line-height: 60px;
  }
  h3 {
    font-size: 36px;
    line-height: 45px;
  }
  h4 {
    font-size: 30px;
    line-height: 40px;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
  }
  h6 {
    font-size: 16px;
    line-height: 34px;
  }
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label, .form-group input {
  width: 100%;
}
.form-group label {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 500;
}
.form-group .input_area {
  position: relative;
}
.form-group .input_area input {
  padding: 10px 20px;
  border: 1px solid #ded7d7;
  outline: none;
}
.form-group .input_area .view_icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-11px);
  cursor: pointer;
}
.form-group .input_area .view_icon i {
  color: #555;
}
.form-group .require_star {
  color: #DD3333;
  font-size: 17px;
  padding-left: 2px;
}

.submit_btn {
  background: #DD3333;
  color: #fff;
  border: none;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.submit_btn:hover {
  background-color: #000;
}

.header_section {
  background-color: #FCFCFC;
  padding: 0px;
}
@media (max-width: 991px) {
  .header_section {
    display: none;
  }
}
.header_section.sticky-menu {
  background-color: #FCFCFC;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999999999 !important;
}
.header_section .header_inner .logo img {
  width: 150px;
  height: auto;
}
.header_section .header_inner .primary_menu {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) {
  position: relative;
  margin: 10px 20px;
}
@media (max-width: 1199px) {
  .header_section .header_inner .primary_menu ul li:not(.sub_menu li) {
    margin: 10px 11px;
  }
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li)::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: #3478F6;
  width: 100%;
  height: 2px;
  transform: translateY(0px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) a {
  color: #333333;
  text-decoration: none;
  padding: 42px 0px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) a i.fa-solid.fa-chevron-down {
  padding-left: 5px;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li):hover::after {
  transform: translateY(28px);
  opacity: 1;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li):hover .sub_menu ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul {
  position: absolute;
  width: 290px;
  background: #fff;
  top: 54px;
  left: 0;
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  border-radius: 3px;
  box-shadow: 0 10px 30px 0 rgba(45, 45, 45, 0.2);
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li {
  border-bottom: 1px solid #f8fafe;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 17px 20px;
  height: 100%;
  color: #333333;
  font-weight: 400;
  text-transform: capitalize;
}
.header_section .header_inner .primary_menu ul li:not(.sub_menu li) .sub_menu ul li:hover a {
  color: #3478F6;
}
.header_section .header_inner .header_btn {
  display: flex;
  align-items: center;
}
.header_section .header_inner .header_btn .cart_icon {
  position: relative;
  margin: 0px 25px 0px;
}
.header_section .header_inner .header_btn .cart_icon a {
  color: #555;
}
.header_section .header_inner .header_btn .cart_icon span {
  position: absolute;
  top: -9px;
  left: 7px;
  background: #0E13A8;
  width: 15px;
  height: 15px;
  color: #fff;
  border-radius: 100%;
  display: inline;
  font-size: 10px;
  text-align: center;
}
.header_section .header_inner .header_btn .search-btn {
  position: relative;
}
.header_section .header_inner .header_btn .search-btn > input {
  padding: 10px 14px 10px 40px;
  background: #F1F2F3;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  max-width: 200px;
}
@media (max-width: 1199px) {
  .header_section .header_inner .header_btn .search-btn > input {
    max-width: 180px;
  }
}
.header_section .header_inner .header_btn .search-btn > input:focus {
  border: 2px solid #0E13A8;
}
.header_section .header_inner .header_btn .search-btn .search_icon {
  position: absolute;
  top: 28%;
  left: 6%;
}
.header_section .header_inner .header_btn .login_reg_btn {
  font-size: 15px;
  padding: 13px 50px 13px 50px;
  background-color: #DD3333;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
  color: #fff;
}
@media (max-width: 1199px) {
  .header_section .header_inner .header_btn .login_reg_btn {
    padding: 13px 30px 13px 30px;
  }
}
.header_section .header_inner .header_btn .login_reg_btn i {
  margin-right: 5px;
}

.mobile_menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999;
  box-shadow: -1px 4px 4px -3px rgba(227, 227, 227, 0.62);
  -webkit-box-shadow: -1px 4px 4px -3px rgba(227, 227, 227, 0.62);
  -moz-box-shadow: -1px 4px 4px -3px rgba(227, 227, 227, 0.62);
}
@media (min-width: 992px) {
  .mobile_menu {
    display: none;
  }
}
.mobile_menu .mobile_menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FCFCFC;
  padding: 10px 40px;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_left .mobile_logo img {
  width: 130px;
  height: auto;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right span i {
  font-size: 30px;
  color: #000;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right span i.fa-solid.fa-xmark {
  display: none;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right.close span i.fa-solid.fa-bars-staggered {
  display: none;
}
.mobile_menu .mobile_menu_top .mobile_menu_top_right.close span i.fa-solid.fa-xmark {
  display: block;
}
.mobile_menu .mobile_menu_bottom {
  position: fixed;
  left: 0;
  z-index: 999999999;
  background: #f8fafe;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  height: 100%;
  overflow-y: scroll;
  padding: 0 20px;
  padding-bottom: 60px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile_menu .mobile_menu_bottom.open {
  transform: scaleY(1);
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu {
  background-color: #f8fafe;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul {
  padding-top: 20px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li {
  list-style: none;
  border-bottom: 1px solid rgba(212, 47, 83, 0.1215686275);
  padding: 18px 0px;
  margin: 0px 25px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li:last-child {
  border-bottom: none;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown {
  position: relative;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown > a::after {
  top: 16px;
  right: 0;
  font-weight: 700;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li.mobile_drowpdown.open > a::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #DD3333;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #181818;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-family: var("Roboto", sans-serif);
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul {
  display: none;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul li:last-child {
  padding-bottom: 0px;
}
.mobile_menu .mobile_menu_bottom .main_mobile_menu > ul li ul li > a {
  font-size: 15px !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
.mobile_menu .mobile_menu_bottom .mobile_menu_btn {
  text-align: center;
  margin-top: 30px;
}
.mobile_menu .mobile_menu_bottom .mobile_menu_btn a {
  font-size: 18px;
  padding: 16px 24px;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #DD3333;
}

.sub-banner {
  background-image: url("../../assets/images/subnanner.png");
  padding: 140px 0px 150px;
}
@media (max-width: 991px) {
  .sub-banner {
    padding: 140px 0px 85px;
  }
}
.sub-banner .sub-bannner-content {
  text-align: center;
}
.sub-banner .sub-bannner-content h2 {
  font-size: 46px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@media (max-width: 575px) {
  .sub-banner .sub-bannner-content h2 {
    font-size: 30px;
  }
}
.sub-banner .sub-bannner-content span {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.sub-banner .sub-bannner-content span a {
  color: #3478F6;
}

.course_section {
  background-color: #F0F0F0;
  padding: 120px 0px;
}
.course_section .course_inner .course_item {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.course_section .course_inner .course_item .course_image {
  overflow: hidden;
}
.course_section .course_inner .course_item .course_image img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_section .course_inner .course_item .course_image:hover img {
  transform: scale(1.1);
}
.course_section .course_inner .course_item .course-category {
  display: inline-block;
  background: #DD3333;
  padding: 6px 13px;
  border-radius: 5px;
  position: relative;
  top: -17px;
  left: 32px;
}
.course_section .course_inner .course_item .course-category a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.course_section .course_inner .course_item .course_body {
  padding: 0px 30px 20px;
}
.course_section .course_inner .course_item .course_body .course-title {
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 8px 0px 25px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 375px) {
  .course_section .course_inner .course_item .course_body .course-title {
    font-size: 20px;
    line-height: 28px;
  }
}
.course_section .course_inner .course_item .course_body .course-title:hover {
  color: #3478F6;
}
.course_section .course_inner .course_item .course_body .course_footer {
  border-top: 1px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 15px;
}
.course_section .course_inner .course_item .course_body .course_footer .course_price span {
  background: #062e92;
  color: #fff;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 5px;
  display: inline-block;
  font-family: "Roboto";
}
.course_section .course_inner .course_item .course_body .course_footer .course_btn a {
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_section .course_inner .course_item .course_body .course_footer .course_btn a span {
  border-bottom: 2px solid #333333;
  padding-bottom: 2px;
}
.course_section .course_inner .course_item .course_body .course_footer .course_btn i {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  border-radius: 100%;
  margin-left: 8px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_section .course_inner .course_item .course_body .course_footer .course_btn:hover a {
  color: #3478F6;
}
.course_section .course_inner .course_item .course_body .course_footer .course_btn:hover i {
  border: 1px solid #3478F6;
}

.course_details {
  background-color: rgba(240, 240, 240, 0.3803921569);
  padding: 120px 0px;
}
.course_details .course_details_inner .course_details_wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.02);
}
.course_details .course_details_inner .course_details_wrapper .course_content {
  padding: 30px;
}
@media (max-width: 375px) {
  .course_details .course_details_inner .course_details_wrapper .course_content {
    padding: 18px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f9fbfd;
  padding: 40px 10px;
  border-radius: 3px;
  justify-content: space-around;
  text-align: center;
  position: relative;
  margin: 30px;
}
@media (max-width: 1199px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course-info {
    padding: 44px 6px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course-info {
    flex-direction: column;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item {
  border-right: 1px solid #e7e8e9;
  padding-right: 50px;
}
@media (max-width: 1199px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item {
    border-right: 0px;
    border-bottom: 1px solid #e7e8e9;
    padding-right: 0;
    padding: 30px 0px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item:last-child {
  border-right: none;
  padding-right: 0px;
  border-bottom: 0px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .custom_tooltip {
  position: absolute;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .custom_tooltip .en_tooltip {
  position: relative;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .custom_tooltip .en_tooltip span {
  background: #DD3333;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff !important;
  font-size: 14px !important;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .custom_tooltip .en_tooltip::after {
  position: absolute;
  background: #DD3333;
  width: 10px;
  height: 10px;
  content: "";
  left: 6px;
  bottom: 6px;
  transform: rotate(45deg);
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .enroll_btn {
  padding: 12px 30px 12px 25px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.05);
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box .enroll_btn a {
  color: #555;
  text-transform: capitalize;
  letter-spacing: 0px;
  cursor: n-resize;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .tooltip_box:hover .custom_tooltip {
  visibility: visible;
  opacity: 1;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item.price {
  line-height: 0px;
  margin-top: 18px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item .join_btn a {
  padding: 10px 30px;
  color: #fff;
  background: #DD3333;
  border-radius: 26px;
  display: inline-block;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item span {
  color: #273c66;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  display: inline-block;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course-info .course_info_item h2 {
  color: #273c66;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab {
  margin-top: 80px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab {
  position: relative;
}
@media (min-width: 320px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab {
    display: flex;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #ddd;
  bottom: -6px;
  left: 0px;
  border-radius: 6px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab .tablinks {
  border: none;
  background: none;
  padding-bottom: 25px;
  margin-right: 100px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  color: #8f8f8f;
}
@media (max-width: 575px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab .tablinks {
    margin-right: 30px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab .tablinks img {
  width: 30px;
  height: auto;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab .tablinks.tab_active::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 10px;
  background-color: #DD3333;
  bottom: -6px;
  left: 0px;
  border-radius: 6px;
  z-index: 999 !important;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab_content {
  margin-top: 60px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab_content .tabcontent p {
  font-size: 20px;
  font-weight: 400;
  color: #555;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab_content .tabcontent p:first-child {
  margin-bottom: 20px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab_content .course_content_list ul li {
  font-weight: 700;
  color: #000;
  margin-top: 40px;
  list-style: disc;
  font-size: 20px;
  margin-left: 50px;
}
@media (max-width: 575px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .tab_content .course_content_list ul li {
    margin-left: 20px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module {
  margin: 30px;
}
@media (max-width: 575px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module {
    margin: 30px 0px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module h2 {
  font-size: 40px;
  font-weight: 700;
  color: #555;
  margin: 60px 0px 30px;
}
@media (max-width: 375px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module h2 {
    font-size: 30px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box {
  position: relative;
  margin-bottom: 20px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_custom_tooltip {
  position: absolute;
  top: 0px;
  left: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_custom_tooltip .course_en_tooltip {
  position: relative;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_custom_tooltip .course_en_tooltip span {
  background: #DD3333;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff !important;
  font-size: 17px !important;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_custom_tooltip .course_en_tooltip::after {
  position: absolute;
  background: #DD3333;
  width: 10px;
  height: 10px;
  content: "";
  left: 6px;
  transform: rotate(45deg);
  top: 24px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_module_list .course_modul_item {
  padding: 15px 30px 15px 25px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #ddd;
}
@media (max-width: 375px) {
  .course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_module_list .course_modul_item {
    padding: 15px 12px 15px 10px;
    font-size: 15px;
  }
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_module_list .course_modul_item img {
  margin-right: 8px;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box .course_module_list .course_modul_item a {
  color: #555;
  text-transform: capitalize;
  letter-spacing: 0px;
  cursor: n-resize;
}
.course_details .course_details_inner .course_details_wrapper .course_content .course_tab .course_module .course_tooltip_box:hover .course_custom_tooltip {
  visibility: visible;
  opacity: 1;
}
.course_details .course_details_inner .prev_post {
  margin-top: 70px;
}
.course_details .course_details_inner .prev_post h2 {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
}
.course_details .course_details_inner .prev_post .prev_post_item {
  border: 1px solid #eeeeee;
  padding: 30px;
}
@media (max-width: 991px) {
  .course_details .course_details_inner .prev_post .prev_post_item {
    margin-bottom: 40px;
  }
}
.course_details .course_details_inner .prev_post .prev_post_item .prev_course_title {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  width: 400px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_details .course_details_inner .prev_post .prev_post_item .prev_course_title:hover {
  color: #3478F6;
}
@media (max-width: 375px) {
  .course_details .course_details_inner .prev_post .prev_post_item .prev_course_title {
    font-size: 16px;
    width: 225px;
  }
}
.course_details .course_details_inner .prev_post .prev_post_item .prev_link {
  color: #666;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_details .course_details_inner .prev_post .prev_post_item .prev_link:hover {
  color: #3478F6;
}
.course_details .course_details_inner .prev_post .prev_post_item .prev_link i {
  margin-right: 10px;
}
.course_details .course_details_inner .sidebar .sidebar_menu {
  margin-bottom: 40px;
  border: 1px solid #eeeeee;
  padding: 40px;
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_title h2 {
  color: #333;
  font-size: 25px;
  position: relative;
  margin-bottom: 20px;
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_title h2::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #333;
  bottom: 1px;
  left: 0;
}
@media (max-width: 575px) {
  .course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_title h2::after {
    bottom: -10px;
  }
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_list ul li {
  border-bottom: 1px dashed #eeeeee;
  padding: 15px 0px;
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_list ul li:last-child {
  border-bottom: none;
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_list ul li a {
  color: #555;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course_details .course_details_inner .sidebar .sidebar_menu .sidebar_menu_list ul li:hover a {
  color: #3478F6;
}

.account_section {
  background-color: #FCFCFC;
  padding: 50px 0px 120px;
}
.account_section .account_inner .my_account_menu_tab .user_profice {
  display: flex;
  flex-wrap: wrap;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_avater {
  margin-right: 15px;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_avater .custom-file-upload {
  cursor: pointer;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_avater #file-upload {
  display: none;
  visibility: hidden;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info {
  margin-bottom: 40px;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-name,
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-email {
  width: 100%;
  display: inline-block;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-name {
  font-weight: 600;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-email {
  margin-bottom: 4px;
  font-size: 14px;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-logout {
  background-color: #c0c0c0;
  padding: 2px 10px;
  border-radius: 2px;
}
.account_section .account_inner .my_account_menu_tab .user_profice .user_info .user-logout a {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_menu .my_account_tablinks {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 16px 0 rgba(114, 114, 114, 0.16);
  padding: 14px 30px;
  border-radius: 10px;
  margin: 0px 20px 20px 0px;
  font-weight: 500;
  color: #555;
  border: 1px solid #eaeaea;
}
.account_section .account_inner .my_account_menu_tab .myaccount_menu .my_account_tablinks.my_account_tab_active {
  color: #000;
}
.account_section .account_inner .my_account_menu_tab .myaccount_menu .my_account_tablinks i {
  margin-right: 10px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery {
  margin: 50px 0px 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner {
  text-align: center;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_card {
  text-align: center;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_card img {
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 100%;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_card a {
  color: rgba(85, 85, 85, 0.5411764706);
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  display: inline-block;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_status .profile_summery_status_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #e2e7ed;
  padding: 20px 0px;
  margin-top: 25px;
  border-radius: 5px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_status .profile_summery_status_list ul li {
  border-right: 1px solid #e2e7ed;
  padding: 0px 14px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_status .profile_summery_status_list ul li:last-child {
  border-right: 0;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_status .profile_summery_status_list ul li h5 {
  font-weight: 700;
  color: #000;
  font-size: 25px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .profile_summery .profile_summey_inner .profile_summery_status .profile_summery_status_list ul li span {
  color: rgba(85, 85, 85, 0.5411764706);
  font-weight: 600;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_left h2 {
  font-size: 25px;
  font-weight: 700;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .search_icon i {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .Collapse_btn,
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .expand_btn {
  background: #DD3333;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  margin-left: 20px;
  font-weight: 600;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .Collapse_btn img,
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .expand_btn img {
  margin-left: 10px;
  margin-top: -4px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .purchase_title .purchase_right .Collapse_btn {
  display: none;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box {
  background: #e2e7ed;
  padding: 30px;
  border-radius: 10px;
  display: none;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box.toggleSearch {
  display: block;
  margin-bottom: 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .search_box_title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .search_box_title .search_box_title_left h3 {
  font-size: 25px;
  font-weight: 700;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .search_box_title .search_box_right .close_btn {
  background: none;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 7px 12px;
  border-radius: 10px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .form_group label {
  width: 100%;
  color: #333;
  margin-bottom: 7px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .form_group input {
  width: calc(100% - 135px);
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .purchase_inner .search_box .form_group .search_btn {
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  padding: 15px 32px;
  background: #DD3333;
  color: #fff;
  border: none;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .course_purchase_list .course_purchase_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #cdcdcd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .course_purchase_list .course_purchase_list_item .course_purchase_item_left p {
  color: rgba(51, 51, 51, 0.5882352941);
  font-weight: 600;
  font-size: 18px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .course_purchase_list .course_purchase_list_item .course_purchase_item_right {
  display: flex;
  align-items: center;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .course_purchase_list .course_purchase_list_item .course_purchase_item_right span {
  background-color: #DD3333;
  color: #fff;
  padding: 4px 17px;
  margin-right: 15px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .purchase_course .course_purchase_list .course_purchase_list_item .course_purchase_item_right .arrow_image {
  width: 25px;
  height: 25px;
  background-color: #F20F10;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
  display: block;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .alert_not_found {
  background-color: #FFF6CD;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #FFD200;
  display: flex;
  align-items: center;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .alert_not_found .alert_icon {
  width: 35px;
  height: 35px;
  background-color: #FFD200;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  border-radius: 100%;
  font-size: 28px;
  margin-right: 15px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .alert_not_found .alert_text {
  font-size: 17px;
  color: #333;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard {
  margin-top: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks {
  text-align: start;
  padding: 16px;
  border: none;
  background: transparent;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks.user_dashboard_tab_active {
  background: rgba(0, 0, 0, 0.1);
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks i {
  margin-right: 8px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks span {
  width: 100%;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #555555;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks:hover {
  background: #EFEFEF;
  border-left: 4px solid rgb(6, 46, 146);
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_sidebar .user_dashboard_sidebar_menu .user_dashboard_tablinks:hover span {
  transform: translateX(20px);
  width: 100%;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section {
  padding-left: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card .db_user_avater {
  margin-right: 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card .db_user_avater img {
  width: 150px;
  height: auto;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card .db_user_submission h2 {
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card .db_user_submission h2 span {
  color: rgb(6, 46, 146);
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_card .db_user_submission h6 {
  color: #555;
  margin: 0;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_info_table .db_user_info_table_item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_info_table .db_user_info_table_item .db_user_table_label {
  width: 260px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_info_table .db_user_info_table_item .db_user_table_label span {
  font-weight: 700;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_details_section .db_user_info_table .db_user_info_table_item .db_user_table_value span {
  color: #555;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner {
  text-align: center;
  margin-top: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner h3 {
  font-size: 36px;
  font-weight: 700;
  margin: 30px 0px 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner p {
  color: #555;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 15px 23px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item.form_title {
  background-color: #E1E1E1;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item:hover {
  background-color: #EFEFEF;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item .reg_list_no {
  font-weight: 500;
  width: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item .reg_list_form a {
  color: #062E92;
  font-weight: 500;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item .reg_list_form span {
  font-weight: 500;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .my_acconut_tabcontent .user_dashboard .user_dashboard_content .db_user_registration .db_user_registeration_inner .db_user_registration_list .db_user_registration_list_item .reg_list_date {
  font-weight: 500;
  width: 100px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .pint_update_section {
  margin-top: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .pint_update_section .submit_button {
  text-align: center;
  margin-top: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section {
  margin-top: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item.order_table_item_title {
  background-color: #F7F7F7;
  border-top: 1px solid #ddd;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item.order_table_item_title span {
  font-weight: 700;
  color: #555;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_order,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_date,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_status,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_total,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_action {
  width: 20%;
  padding: 15px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_order,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_date,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_date,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_status,
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_total {
  border-right: 1px solid #ddd;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_order {
  color: #361888;
  font-weight: 600;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_section .order_table .order_table_item .order_table_item_action a {
  background-color: #0EB582;
  padding: 10px 22px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  font-size: 14px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section {
  margin-top: 40px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_para {
  margin-bottom: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_para p span {
  font-weight: 700;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item.order_details_title {
  border-top: 1px solid #ddd;
  background-color: #F7F7F7;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item .order_details_table_title {
  font-weight: 700;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item .order_details_table_left {
  width: calc(100% - 150px);
  border-right: 1px solid #ddd;
  padding: 15px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item .order_details_table_left .product_name {
  color: #361888;
  font-weight: 500;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_details_table .order_details_table_item .order_details_table_right {
  width: 150px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .order_again .order_again_btn {
  background: #0EB582;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 14px 30px;
  border-radius: 35px;
  margin-top: 20px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address {
  margin-top: 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address .billing_address_title h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address .billing_address_item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address .billing_address_item i {
  color: rgba(51, 51, 51, 0.4392156863);
  margin-right: 10px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address .billing_address {
  margin-top: 30px;
}
.account_section .account_inner .my_account_menu_tab .myaccount_content .order_details_section .billing_address .billing_phone {
  margin: 7px 0px;
  display: inline-block;
}

/* =========== Footer Section Start Here  ========= */
.footer_section {
  background-image: url("../../assets/images/footer-bg.png");
  background-size: cover;
  background-position: center;
}
.footer_section .footer_top {
  padding: 60px 0px 40px 0px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.2509803922);
}
.footer_section .footer_top .footer_area .footer_social_list {
  margin-top: 50px;
}
.footer_section .footer_top .footer_area .footer_social_list ul {
  display: flex;
  align-items: center;
}
.footer_section .footer_top .footer_area .footer_social_list ul li a {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  margin-right: 18px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(1) a {
  background-color: #3b5998;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(2) a {
  background-color: #55acee;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_section .footer_top .footer_area .footer_social_list ul li:hover:nth-child(3) a {
  background-color: #007bb5;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media (max-width: 991px) {
  .footer_section .footer_top .footer_area .footer_title {
    margin-bottom: 30px;
  }
}
.footer_section .footer_top .footer_area .footer_title h4 {
  color: #fff;
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 30px;
  position: relative;
}
.footer_section .footer_top .footer_area .footer_title h4::after {
  position: absolute;
  content: "";
  left: 0;
  top: 30px;
  width: 18px;
  height: 3px;
  background: #F5B016;
}
.footer_section .footer_top .footer_area .footer_title .footer_content p {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}
.footer_section .footer_bottom {
  padding: 45px 35px 35px;
}
@media (max-width: 991px) {
  .footer_section .footer_bottom {
    padding: 45px 0px 35px;
    text-align: center;
  }
}
.footer_section .footer_bottom .footer_logo img {
  width: 160px;
  height: auto;
}
@media (max-width: 991px) {
  .footer_section .footer_bottom .copyright_text {
    margin: 15px 0px;
  }
}
.footer_section .footer_bottom .copyright_text p {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}
.footer_section .footer_bottom .f_bottom_link ul {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .footer_section .footer_bottom .f_bottom_link ul {
    justify-content: center;
  }
}
.footer_section .footer_bottom .f_bottom_link ul li:nth-child(1) {
  margin-right: 35px;
}
.footer_section .footer_bottom .f_bottom_link ul li a {
  color: #fff;
  font-weight: 600;
  font-family: var("Roboto", sans-serif);
}

@media (max-width: 991px) {
  .scrollToTop {
    position: fixed;
    right: 4%;
    bottom: 60px !important;
    content: "";
  }
}
.scrollToTop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #F5B016;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
